$fonts: "Poppins", Helvertica, sans-serif;
$spacing: 2rem;

//colors
$bgc-color: #192d41;
$primary-color: #ffffff;
$secondary-color: #000000;
$text-secondary-color: #7bdaff;

$grid-color: #999;
$grid-color-border: #119da4;
