@import "base";
@import "variables";
@import "mixin";
@import "square";

body {
	font-family: $fonts;
	background-color: $bgc-color;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
}
